<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.foxluo.alumni_club.dao.CommunityPostMapper">
  <resultMap id="BaseResultMap" type="cn.foxluo.alumni_club.model.CommunityPost">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="community_post_id" jdbcType="INTEGER" property="communityPostId" />
    <result column="community_id" jdbcType="VARCHAR" property="communityId" />
    <result column="community_post_content" jdbcType="VARCHAR" property="communityPostContent" />
    <result column="community_post_state" jdbcType="INTEGER" property="communityPostState" />
    <result column="share_count" jdbcType="INTEGER" property="shareCount" />
    <result column="zan_count" jdbcType="INTEGER" property="zanCount" />
    <result column="show_count" jdbcType="INTEGER" property="showCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>